<section class="error-part">
    <div class="container">
        <h1>404 | Not Found</h1>
        <img class="img-fluid" src="assets/images/error.png" alt="error">
        <h3>ooopps! this page can't be found.</h3>
        <p>It looks like nothing was found at this location.</p>
        <a routerLink="/home">go to home</a>
    </div>
</section>



<!--=====================================
                    NEWSLETTER PART START
        =======================================-->
        <!-- <section class="news-part" style="background: url(assets/images/newsletter.jpg) no-repeat center;">
               
            <div class="row ">
                <div class="col-md-6">
                    <div class="news-text" style="margin-left: 10%;margin-top: 50px;">
                        <h2 >Get 20% Discount for Subscriber</h2>
                        <p>Lorem ipsum dolor consectetur adipisicing accusantium</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <form class="news-form" style="margin-top: 60px;" >
                        <input type="text" placeholder="Enter Your Email Address">
                        <button><span><i class="icofont-ui-email"></i>Subscribe</span></button>
                    </form>
                </div>
            </div>
        
        </section> -->
<!--=====================================
                    NEWSLETTER PART END
        =======================================-->