<!-- <section class="inner-section single-banner" style="background: url(assets/images/single-banner.jpg) no-repeat center;">
    <div class="container">
        <h2>faq questions</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">faq</li>
        </ol>
    </div>
</section> -->
<div class="mt-5">
<section class="inner-section faq-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="faq-parent">
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>How to contact with Customer Service?</button>
                        </div>
                        <div class="faq-ans">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, repellendus ducimus?
                                Culpa tempore saepe fuga excepturi eius! Nulla quam, minus, id ipsa ad distinctio rem
                                nihil voluptatem eaque quaerat recusandae?</p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>App installation failed, how to update system information?</button>
                        </div>
                        <div class="faq-ans">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, repellendus ducimus?
                                Culpa tempore saepe fuga excepturi eius! Nulla quam, minus, id ipsa ad distinctio rem
                                nihil voluptatem eaque quaerat recusandae?</p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>Website reponse taking time, how to improve?</button>
                        </div>
                        <div class="faq-ans">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, repellendus ducimus?
                                Culpa tempore saepe fuga excepturi eius! Nulla quam, minus, id ipsa ad distinctio rem
                                nihil voluptatem eaque quaerat recusandae?</p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>How do I create a account?</button>
                        </div>
                        <div class="faq-ans">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, repellendus ducimus?
                                Culpa tempore saepe fuga excepturi eius! Nulla quam, minus, id ipsa ad distinctio rem
                                nihil voluptatem eaque quaerat recusandae?</p>
                        </div>
                    </div>
                    <div class="faq-child">
                        <div class="faq-que">
                            <button>I cannot find an answer to my question!</button>
                        </div>
                        <div class="faq-ans">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, repellendus ducimus?
                                Culpa tempore saepe fuga excepturi eius! Nulla quam, minus, id ipsa ad distinctio rem
                                nihil voluptatem eaque quaerat recusandae?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news-part" style="background: url(assets/images/newsletter.jpg) no-repeat center;">
               
    <div class="row ">
        <div class="col-md-6">
            <div class="news-text" style="margin-left: 10%;margin-top: 50px;">
                <h2 >Get 20% Discount for Subscriber</h2>
                <p>Lorem ipsum dolor consectetur adipisicing accusantium</p>
            </div>
        </div>
        <div class="col-md-5">
            <form class="news-form" style="margin-top: 60px;" >
                <input type="text" placeholder="Enter Your Email Address">
                <button><span><i class="icofont-ui-email"></i>Subscribe</span></button>
            </form>
        </div>
    </div>

</section>
</div>