tbody{
    background-color:white ;
}
.news-text{
    height: 150px;
}
@media(min-width:768px)and(max-width:320px) {
.card-size{
    border-radius: 10px;
    width: 335px;
    margin-left: 20px;
    margin-top: 55px;
    margin-right: 1px;
      }
  }

